

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
.navbar-dark{
    background-color: #222222;
}
.navbar{
    height: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
}
.navbar-toggler{
    border: 0px;
    color:#222222;
    border-radius: 0px;
}


.navbar-toggler:hover{
    color: #fff;
    transition: all, 0.2s;
    transform: scale(1.3);
}

.navbar-brand {
    color: #C7F83E;
    width: 70%;
    font-family: 'Anton SC', sans-serif;
    font-size: 55px;   
    margin-bottom: 0px; 
    line-height: 34px;  
    padding: 10px;
    
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand span {
    position: absolute;    
    font-size: 16px;
    margin-left: 32px;
    color: #fff;
    text-align: right;
    font-family: "Rubik", sans-serif;
    font-style: normal;


}
.navbar-nav li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;        
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
}
.nav-item{
    text-align: center;
}
/* cambio de color a negro del texto de cada nav-link en hover */
.nav-item .nav-link{
    color: #C7F83E;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: #C7F83E;
    transition: all, 0.2s;
    transform: scale(1.1);
}
.navbar-collapse{
    margin-top: 20px;
}

.nav-item:hover a{
    color: #222222;
}



/* Cambio de estilo el toggler */
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #8f3ef8;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  /* Fin de estilos de toggel */


.carousel-item .img {
    max-width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-slider1{
    background-image: url(../img/24402997_282883655780188.jpg);
}
.img-slider2{
    background-image: url(../img/2148346930.jpg);
}
.img-slider3{
    background-image: url(../img/106179.jpg);
}
.img-slider4{
    background-image: url(../img/slider-ux.jpg);
}

.carousel-caption{
    position: absolute;
    top: 0%;
    height: auto;
    padding: 10px;    
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #C7F83E;
    border-radius: 50%;
    width: 30px;
}

/* cambio de estilo los botones de los indicadores del carousel a botones amarillos redondos con el active en el indicador activo */
.carousel-indicators{
    height: 50px;
}
.carousel-indicators{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.responsive-titulo {
	font-size: clamp(1.2rem, 10vw, 4rem);
    padding: 15px;
    font-family: 'Anton SC', sans-serif;
}
.responsive-titulo {
	background-image: linear-gradient(92deg, #c7f83e 10%, #C7F83E 80%);
	-webkit-text-fill-color: #0000;
	-webkit-background-clip: text;
}


.carousel-indicators{
    margin-top: 20px;
}

.carousel-indicators .active{
    background-color: #C7F83E;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


.boton-call {
    width: auto;
}
.btn-call {
    background-color: #8f3ef8;
    color: #fff;
    border: 1px solid #8f3ef8;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;    
    transition: all 0.3s ease-in-out;
}
.btn-call:hover {
    background-color: #222222;
    color: #C7F83E;
    border: 2px solid #C7F83E;
    transition: all 0.3s ease-in-out;
}
.owl-carousel .item{    
    border-radius: 10px;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.item p{
    font-size: 1rem;
}
.item a{
  text-decoration: none;
  color :#222222;
  background-color: #C7F83E;
  width: 100%;
  padding: 10px 0px 0px 10px;
  margin-bottom: 10px;
  transition: all 0.2s;
}
.item a:hover {
    background-color: #8f3ef8;
    color: #fff;
    transition: all 0.2s;
}

.owl-carousel .item-proyecto{
    height: 250px;
    width: auto;
    background-size: cover;
    background-position: center;    
}
.owl-two .item-proyecto{
    filter: grayscale(100%);
}
.owl-two .item-proyecto:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    filter: grayscale(0%)
}

.owl-two .item-logo {
    height: 200px;
    width: auto;
    background-size: cover;
    background-position: center;  
    
}

.item-proyecto1{
    background-image: url(../img/mockup-aht.jpg);
}

.item-proyecto2{
    background-image: url(../img/mockup-brossi.jpg);
}

.item-proyecto3{
    background-image: url(../img/mockup-guerrieri.jpg);
}

.item-proyecto4{
    background-image: url(../img/mockup-hogar.jpg);
}

.item-proyecto5{
    background-image: url(../img/mockup-costabonita.jpg);
}
.item-logo1{
    background-image: url(../img/logosBranding/aht.png);
}

.item-logo2{
    background-image: url(../img/logosBranding/costabonita-1.png);
}

.item-logo3{
    background-image: url(../img/logosBranding/costabonita.png);
}

.item-logo4{
    background-image: url(../img/logosBranding/hogarmonta침a.png);
}

.item-logo5{
    background-image: url(../img/logosBranding/planb.png);
}

.item-branding{
    background-image: url(../img/branding.jpg);
}
.item-design{
    background-image: url(../img/diseno-web.jpg);
}
.item-seo{
    background-image: url(../img/seo.jpg);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}




.animated-header:hover::before {
transform: translateX(0);
}

.animated-header:hover {
color: white; /* Color del texto cuando est치 animado */
background-color: #8f3ef8;
}
footer{
    background-color: #222222;
    color: #C7F83E;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.logo-footer a{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    color: #C7F83E;
    width: 70%;
    font-family: 'Anton SC', sans-serif;
    font-size: 55px;   
    margin-bottom: 0px; 
    line-height: 34px;  
    padding: 20px;
    text-decoration: none;
}
.logo-footer a span {
    position: absolute;    
    font-size: 16px;    
    color: #fff;    
    font-family: "Rubik", sans-serif;
    font-style: normal;
    margin-left: -30px;
    
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.redes a{
    color: #C7F83E;
    font-size: 30px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.redes a:hover{
    color: #8f3ef8;
    transform: scale(1.2);
}
.accesos-rapidos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.accesos-rapidos ul{
    list-style: none;
    padding: 0;
    margin: 0;    
}
.accesos-rapidos li{
    margin-bottom: 10px;
    background-color: #222222;
    border: 0px;
}
.accesos-rapidos h3{
    color: #C7F83E;
    font-size: 16px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.accesos-rapidos a{
    color: #C7F83E;
    font-size: 14px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.accesos-rapidos a:hover{
    color: #8f3ef8;
    transform: scale(1.2);
    
}
/* copyright */
.copyright p a{
    color: #C7F83E;
}

.contacto{
    background-image: url(../img/2148346930.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    color: #C7F83E;
}
.contacto h2{
    font-size: 50px;
}

.bg-blur{
    backdrop-filter: blur(5px);
    background-color: #22222281;
}

.anton{
    font-family: 'Anton SC', sans-serif;
    text-transform: uppercase;
}



.jumbotron{
    background-image:  url(../img/106179.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blur {
    backdrop-filter: blur(5px);    
    background-color: #22222281;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.floating-button a {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Color de WhatsApp */
    color : white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.3s;
    font-size: 30px;
    text-decoration: none;
}

.floating-button a:hover {
    background-color: #128c7e; /* Color de WhatsApp m치s oscuro al pasar el cursor */
    transform: scale(1.1);
}

.ir-arriba {
    position: fixed;
    bottom: 20px;
    right: 48px;
    width: 40px;
    height: 40px;
    background-color: #8f3ef8; /* Color de WhatsApp */
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.3s;
    font-size: 25px;
    text-decoration: none;
}
.ir-arriba:hover {
    transform: scale(1.1);
}

.no-active-movile{
    display: none;
}



/* Dise침o web */
.main-webdesign{
    background-image: url(../img/2148346930.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: #fff

}


.main-webdesign p{
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.main-webdesign h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: 'Anton SC', sans-serif;
    color: #C7F83E;
}

.main-webdesign h3{

    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;

    color: #fff;
}

.titulo-webdesign h3 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 16px;
    padding: 10px 15px;    
}
.titulo-webdesign h2{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Anton SC', sans-serif;
    color: #8f3ef8;
}




.card{
    height: auto;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/106179.jpg');
    background-position: center;
    background-size: cover;    
    border: 0px;
    color:#fff
}
.card-branding {
    background-image: url('../img/2148346930.jpg');
}
.card-body {
    background-image: linear-gradient(to right top, #2b2b2bc9, #2e2e2eda) ,url('../img/106179.jpg');
    background-position: bottom;
    background-size: cover; 
    border-radius: 25px;                            
    border: 3px solid #C7F83E;
}
.card-body-branding {
    background-image: linear-gradient(to right top, #2b2b2bc9, #2e2e2eda) ,url('../img/2148346930.jpg');
}
.card h4 {
    font-size: 40px;
    color: #C7F83E
}
.tabs{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px
}
.tablink{
    color: #fff;
    background-color: #c7f83e;
    font-size: 14px;
    padding: 10px; 
    border-radius: 20px; 
    color: #222222;       
    border: 2px solid #222222;
    transition: all 0.2s ease-in-out;
}
.tablink:hover{
    color: #fff;
    background-color: #8f3ef8;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.active-tab{
    color: #fff;
    background-color: #8f3ef8;
    font-size: 14px;
    padding: 10px; 
    border-radius: 20px; 
    transform: scale(1.05);
    color: #ffffff;       

}

.no-muestro {
    display: none;
}

.tipos-sitios h4{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-family: 'Anton SC', sans-serif;
    color: #8f3ef8;
    text-transform: uppercase;
    padding: 20px;    
}

.card-tipo-sitio{

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.card-tipo-sitio p{
    text-align: center;
}

.card-adicionales h4{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    font-family: 'Anton SC', sans-serif;
    color: #C7F83E;
    text-transform: uppercase;

}

.card-adicionales p{
    text-align: center;  
    color :#fff;  
}

.card-adicionales {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 3px solid #8f3ef8;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #222222d8;
}
.desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0px 0px 10px 0px;
    }
    .carousel-item .img{
        height: 80vh;
    }
    .no-active-desktop{
        display: none;
    }
    .no-active-movile{
        display: block;
    }
    .desktop {
        display:  block;
    }

    .carousel-caption{     
        margin-top: 15px;   
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;        
    }
    .carousel-caption img {
        width: 70%;
        margin-bottom: 20px;
    }

    .nav-item:hover{
        background-color: rgba(29, 29, 29, 0);
    }
    .nav-item:hover a{
        color: #C7F83E;
    }
    .l-50{
       left: 50%;
    }
    

    .main-webdesign h1{
        font-size: 100px;
    }
    .main-webdesign p{
        width: 500px;
    }
    .mockup-1{

        width: 70%;
    }


    .mockup-2{
        position: absolute;
        width: 40%;
        left: 50%;
        top: 90%;
    }

    .proceso h3{
        font-size: 25px;
        font-weight: 200;
        font-style: italic;
    }
    .proceso h2{
        font-size: 40px;
        text-align: center;
    }
    .card{
        height: 380px;
    }
    .card-branding {
        height: 250px;
    }

    .titulo-webdesign h2{

        font-size: 60px;

    }

    .card-adicionales {
        height: 250px;
    }
    


}

