

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
.navbar-dark{
    background-color: #222222;
}
.navbar{
    height: auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}
.navbar-toggler{
    border: 0px;
    color:#222222;
    border-radius: 0px;
}


.navbar-toggler:hover{
    color: #fff;
    transition: all, 0.2s;
    transform: scale(1.3);
}

.navbar-brand {
    color: #C7F83E;
    width: 70%;
    font-family: 'Anton SC', sans-serif;
    font-size: 55px;   
    margin-bottom: 0px; 
    line-height: 34px;  
    padding: 20px;
    
}
.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-brand span {
    position: absolute;    
    font-size: 16px;
    margin-left: 32px;
    color: #fff;
    text-align: right;
    font-family: "Rubik", sans-serif;
    font-style: normal;

}
.navbar-nav li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 30px;        
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
}
.nav-item{
    text-align: center;
}
/* cambio de color a negro del texto de cada nav-link en hover */
.nav-item .nav-link{
    color: #C7F83E;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: #C7F83E;
    transition: all, 0.2s;
    transform: scale(1.1);
}
.navbar-collapse{
    margin-top: 20px;
}

.nav-item:hover a{
    color: #222222;
}



/* Cambio de estilo el toggler */
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #8f3ef8;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  /* Fin de estilos de toggel */


.carousel-item .img {
    max-width: 100%;
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-slider1{
    background-image: url(../img/24402997_282883655780188.jpg);
}
.img-slider2{
    background-image: url(../img/2148346930.jpg);
}
.img-slider3{
    background-image: url(../img/106179.jpg);
}
.img-slider4{
    background-image: url(../img/slider-ux.jpg);
}


.carousel-main{
    margin-top: 50px;
}
.carousel-caption{
    position: absolute;
    bottom: 20%;
    padding: 20px;    
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #C7F83E;
    border-radius: 50%;
    width: 30px;
}

/* cambio de estilo los botones de los indicadores del carousel a botones amarillos redondos con el active en el indicador activo */
.carousel-indicators{
    height: 50px;
}
.carousel-indicators{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-titulo {
	font-size: clamp(3.2rem, 10vw, 7rem);
    padding: 15px;
    font-family: 'Anton SC', sans-serif;
}
.responsive-titulo {
	background-image: linear-gradient(92deg, #c7f83e 10%, #C7F83E 80%);
	-webkit-text-fill-color: #0000;
	-webkit-background-clip: text;
}


.carousel-indicators{
    margin-top: 20px;
}

.carousel-indicators .active{
    background-color: #C7F83E;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


.boton-call {
    width: auto;
}
.btn-call {
    background-color: #8f3ef8;
    color: #fff;
    border: 1px solid #8f3ef8;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;    
    transition: all 0.3s ease-in-out;
}
.btn-call:hover {
    background-color: #222222;
    color: #C7F83E;
    border: 2px solid #C7F83E;
    transition: all 0.3s ease-in-out;
}
.owl-carousel .item{    
    border-radius: 10px;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.item p{
    font-size: 1rem;
}

.owl-carousel .item-proyecto{
    height: 250px;
    width: auto;;
    background-size: cover;
    background-position: center;    
}
.owl-two .item-proyecto{
    filter: grayscale(100%);
}
.owl-two .item-proyecto:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    filter: grayscale(0%)
}

.item-proyecto1{
    background-image: url(../img/mockup-aht.jpg);
}

.item-proyecto2{
    background-image: url(../img/mockup-brossi.jpg);
}

.item-proyecto3{
    background-image: url(../img/mockup-guerrieri.jpg);
}

.item-proyecto4{
    background-image: url(../img/mockup-hogar.jpg);
}

.item-proyecto5{
    background-image: url(../img/mockup-costabonita.jpg);
}

.item-branding{
    background-image: url(../img/branding.jpg);
}
.item-design{
    background-image: url(../img/diseno-web.jpg);
}
.item-seo{
    background-image: url(../img/seo.jpg);
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.animated-header {
    display: inline-block;
    position: relative;
    color: black;
    background-color: #C7F83E;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 10px
}


.animated-header:hover::before {
transform: translateX(0);
}

.animated-header:hover {
color: white; /* Color del texto cuando está animado */
background-color: #8f3ef8;
}
footer{
    background-color: #222222;
    color: #C7F83E;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.logo-footer a{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    color: #C7F83E;
    width: 70%;
    font-family: 'Anton SC', sans-serif;
    font-size: 55px;   
    margin-bottom: 0px; 
    line-height: 34px;  
    padding: 20px;
    text-decoration: none;
}
.logo-footer a span {
    position: absolute;    
    font-size: 16px;    
    color: #fff;    
    font-family: "Rubik", sans-serif;
    font-style: normal;
    margin-left: -30px;
    
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.redes a{
    color: #C7F83E;
    font-size: 30px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.redes a:hover{
    color: #8f3ef8;
    transform: scale(1.2);
}
.accesos-rapidos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.accesos-rapidos ul{
    list-style: none;
    padding: 0;
    margin: 0;    
}
.accesos-rapidos li{
    margin-bottom: 10px;
    background-color: #222222;
    border: 0px;
}
.accesos-rapidos h3{
    color: #C7F83E;
    font-size: 16px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.accesos-rapidos a{
    color: #C7F83E;
    font-size: 14px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.accesos-rapidos a:hover{
    color: #8f3ef8;
    transform: scale(1.2);
    
}
/* copyright */
.copyright p a{
    color: #C7F83E;
}

.contacto{
    background-image: url(../img/textura.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    color: #C7F83E;
}

.jumbotron{
    background-image:  url(../img/106179.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blur {
    backdrop-filter: blur(5px);    
    background-color: #22222281;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.floating-button a {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Color de WhatsApp */
    color : white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.3s;
    font-size: 30px;
    text-decoration: none;
}

.floating-button a:hover {
    background-color: #128c7e; /* Color de WhatsApp más oscuro al pasar el cursor */
    transform: scale(1.1);
}

.ir-arriba {
    position: fixed;
    bottom: 20px;
    right: 48px;
    width: 40px;
    height: 40px;
    background-color: #8f3ef8; /* Color de WhatsApp */
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: 0.3s;
    font-size: 25px;
    text-decoration: none;
}
.ir-arriba:hover {
    transform: scale(1.1);
}

@media only screen and (min-width: 768px) {

    .carousel-item .img{
        height: 100vh;
    }
    .carousel-main{
        margin-top: 30px;
    }   
    .carousel-caption{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;        
    }

    .nav-item:hover{
        background-color: rgba(29, 29, 29, 0);
    }
    .nav-item:hover a{
        color: #C7F83E;
    }
    .l-50{
       left: 50%;
    }
    
    

    .navbar-brand {
        padding-top: 5px;
    }

}

